<div class="about-wrapper">
  <div class="section">
    <div class="content">
      <div class="header">
      About us
      <div class="line-box"></div>
      </div>
      
      <div class="text">
          cenote (English: /sɪˈnoʊti/ or /sɛˈnoʊteɪ/; American Spanish: [seˈnote]) is a natural pit, or sinkhole, resulting from the collapse of limestone bedrock that exposes groundwater underneath. Especially associated with the Yucatán Peninsula of Mexico, cenotes were sometimes used by the ancient Maya for sacrificial offerings.
      </div>
    </div>
    <div class="image"></div>
  </div>
</div>